<!DOCTYPE html>
<html lang="en">
<head>
<title>基于NLP的新媒体传播分析系统</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
    
	<!-- banner slider css -->
	<link href="/static/css/minimal-slider.css" rel='stylesheet' type='text/css' />
	<!-- //banner slider css -->
	
	<!-- css files -->
	<link rel="stylesheet" href="/static/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link href="/static/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="/static/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<!--web font-->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!--//web font-->

</head>

<body>

<!-- header -->
<div class="header-top">
	<header>
		<div class="top-head ml-lg-auto text-center">
			<div class="row mr-0">

				<div class="col-lg-4">
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter">
						<i class="fas fa-lock"></i> Sign In</a>
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
						<i class="fas fa-user"></i> Register</a>
				</div>
				<div class="search col-md-2 col-4">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							<i class="fas fa-search"></i>
						</button>
					</div>
					<!-- open/close -->
					<div class="overlay overlay-door">
						<button type="button" class="overlay-close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required>
							<button type="submit" class="btn btn-primary submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<!-- open/close -->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars"></i>
				</span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto text-center">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">主页
							<span class="sr-only">(current)</span>
						</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="lyear_forms_elements.html">数据采集</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../text_titles/">文本分析</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="spread_wci.html">传播力分析</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="lyear_js_user_defined.html">自定义表单</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">联系我们</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>
</div>
<!-- header -->

<!-- main image slider container -->
<section class="slide-window">
	<div class="slide-wrapper" style="width:300%;">
		<div class="slide">
			<div class="slide-caption text-center">
			   <h2 class="text-uppercase">基于NLP的新媒体传播分析系统</span></h2>
			   <p class="my-4">基于大数据下的NLP语意分析技术、面向广大新媒体从业者及公众号运营者的新媒体传播辅助分析系统，旨在利用NLP神经网络与大数据分析等相关技术，评估分析新媒体发布者自身以及该行业中新媒体传播水平及效果，通过可视化界面向用户展示文本语意及相关影响因素与传播力之间存在的联系，帮助新媒体从业者提高发文质量，优化传播效果。</p>
			  
								
			</div>
		</div>
		<div class="slide slide2">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase">爬虫<span>Art </span></h3>
			   <p class="my-4">网络爬虫（又称为网页蜘蛛，网络机器人，在FOAF社区中间，更经常的称为网页追逐者），是一种按照一定的规则，自动地抓取万维网信息的程序或者脚本。网络爬虫是一个自动提取网页的程序，它为搜索引擎从万维网上下载网页，是搜索引擎的重要组成。</p>
			  
					
			</div>
		</div>
		<div class="slide slide3">
			<div class="slide-caption text-center">
				<h3 class="text-uppercase">NLP <span> Layout</span></h3>
			   <p class="my-4">NLP，自然语言处理。自然语言是人类智慧的结晶，自然语言处理是人工智能中最为困难的问题之一。NLP是一种很吸引人的人机交互方式，理解自然语言，需要关于外在世界的广泛知识以及运用操作这些知识的能力，自然语言认知，同时也被视为一个人工智能完备的问题。</p>
			  
				</div>	
			</div>
		</div>
	</div>
	<div class="slide-controller">
		<div class="slide-control-left">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
		<div class="slide-control-right">
			<div class="slide-control-line"></div>
			<div class="slide-control-line"></div>
		</div>
	</div>
</section>
<!-- end of main image slider container -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<!-- welcome -->
<section class="Welcome py-5">
	<div class="container py-sm-5">
		<div class="welcome-grids row">
			<div class="col-lg-6 mb-lg-0 mb-5">
				<h3 class="mt-lg-4">关于项目</h3>
				<p class="mb-4">本项目是基于大数据下的NLP语意分析技术、面向广大新媒体从业者及公众号运营者的新媒体传播辅助分析系统，旨在利用NLP神经网络与大数据分析等相关技术，评估分析新媒体发布者自身以及该行业中新媒体传播水平及效果，通过可视化界面向用户展示文本语意及相关影响因素与传播力之间存在的联系，帮助新媒体从业者提高发文质量，优化传播效果。</p>
				
			</div>
			<div class="col-lg-3 col-md-4 col-6 pr-1 welcome-image">
				<img src="/static/images/a1.jpg" class="img-fluid" alt="" />
			</div>	
			<div class="col-lg-3 col-md-4 col-6 pl-1 welcome-image">
				<img src="/static/images/a2.jpg" class="img-fluid" alt="" />
			</div>
		</div>	
	</div>	
</section>
<!-- welcome -->

<!-- welcome bottom -->
<section class="Welcome-bottom">
	<div class="bs-slider-overlay">
		<div class="container">
			<div class="welcome-bottom-grids row">
				
				<!-- Counter -->
				<div class="col-lg-6 p-sm-5 p-4 welcome_left Features-bottom">
					<div class="layer p-sm-5 p-4 welcome_left_inner agile-info">
							<div class="agileits_w3layouts_about_counter_left w3-agile-grid">
								<div class="countericon">
									<span class="fab fa-algolia" aria-hidden="true"></span>
									<h3>阅读指数</h3>
								</div>
								<div class="counterinfo agile-info">
									<p class="my-3">80%</p> 
								</div>
								
								<div class="clearfix"> </div>
							</div>
							<div class="mt-sm-5 mt-3 agileits_w3layouts_about_counter_left w3-agile-grid">
								<div class="countericon">
									<span class="fas fa-bug" aria-hidden="true"></span>
									<h3>点赞指数</h3>
								</div>
								<div class="counterinfo agile-info">
									<p class="my-3">20%</p>
								</div>
								<div class="clearfix"> </div>
							</div>
					</div>
				</div>
				<!-- //Counter -->
				<div class="col-lg-6 p-sm-5 p-4 mt-lg-5 mt-0 welcome_bottom_right">
					<h3>什么是WCI指数？</h3>
					<p class="my-4">WCI指数是由原始数据通过计算公式推导出来的标量数值。它是考虑各维度数据后得出的综合指标。首先，用总阅读数、平均阅读数、最高阅读数、总点赞数、平均点赞数和最高点赞数六个指标对账号进行评估。其次，为了让不同维度的指标之间可以相互比较、运算，对各个指标进行了对数形式标准化。最后，考虑到各指标在反映传播能力方面存在差异，赋予6个指标不同的权重：一级指标，阅读指数和点赞指数的权重分别为80%和20%。二级指标，总阅读数、平均阅读数、最高阅读数、总点赞数、平均点赞数、最高点赞数的权重分别为40%、45%、15%、40%、45%和15%。</p>
					
				</div>
			</div>	
		</div>	
	</div>	
</section>
<!-- //welcome bottom -->
<section class="Welcome py-5">
	<div class="container py-sm-3">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>微信传播指数WCI </span> （V13.0） </h3>
			<p class="para mb-5 text-center">WCI测算V13.0计算公式如下</p>
		</div>	
		<div class="row">
			<div >
				<img src="/static/images/1.png" alt="" class="img-fluid">
			</div>
		  <div class="col-lg-6 about-right mt-lg-0 mt-5">
				
			<h4>字符含义</h4>
		    <p class="my-4">R为评估时间段内所有文章（n）的阅读总数；</p>
			  <p class="my-4"> Z为评估时间段内所有文章（n）的在看总数；		    </p>
			  <p class="my-4">d为评估时间段所含天数（一般周取7天，月度取30天，年度取365天，其他自定义时间段以真实天数计算）；		    </p>
		    <p class="my-4">n为评估时间段内账号所发文章数；</p>
		    <p class="my-4"> Rt和Zt为评估时间段内账号所发头条的总阅读数和总在看数；</p>
		    <p class="my-4"> Rmax和Zmax为评估时间段内账号所发文章的最高阅读数和最高在看数。 </p>
			  <!--/about-in-->
				
			  <!--/about-in-->
			</div>
		</div>
	</div>	
</section>
<!-- Features -->
<section class="features py-5">
	<div class="container py-sm-5">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>Our </span>创新之处</h3>
			<p class="para mb-5 text-center">&nbsp;</p>
		</div>
		<div class="feature-grids row">
			<div class="col-lg-4 col-md-6">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 1</h3>
					<p>使用较为前沿的NLP语意分析技术，相较传统的文本分析更为精准、全面。</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
				<div class="f2-active p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 2</h3>
					<p>通过可视化界面及相关图表向用户直观展示传播指数、标题特征、文本语意及其与传播力之间存在的联系，便于新媒体从业者了解行业发文特点及走向，挖掘未开发亮点，改进自身缺点，从而更有针对性地提高发文质量，提升新媒体传播的影响力。 </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 3</h3>
					<p>传统的新媒体分析大多基于现成的表面数据例如阅读数、点赞数、发文量等，本项目进一步分析和挖掘阅读点赞、文本语意与新媒体传播效果直接的潜在联系，为新媒体工作者提供更深入、更多元的分析。。 </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 4</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 5</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
				<div class="f1 p-sm-5 p-4">
					<i class="fas fa-arrow-right" aria-hidden="true"></i>
					<h3 class="my-3">Feature 6</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Features -->

<!-- Skills -->
<section class="bottom-last">
	<div class="bottom-bg py-5 bs-slider-overlay text-left">
		<div class="container py-md-5">
			<div class="heading pb-4">
				<h3 class="heading mb-2 text-center text-white"> <span>Our </span> Skills </h3>
				<p class="para mb-5 text-center">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id.</p>
			</div>
			<div class="row grids">
				<div class="col-lg-6">
					<h4 class="title">Proffessional Skills</h4>
					<p class="my-4">Excepteur sint occaecat non proident, sunt in culpa quis. Int Phasellus lacinia id erat eu ullamcorper. 
					Nunc id ipsum eur fringillats, gravida felis vitae. Phasellus lacinia id, sunt in culp quis. Phasellus lacinia. gravida felis vitae. 
					Phasellus lacinia id. sunt inculpa quis. Phasellus lacinia. gravida felis vitae.</p>
					<div class="bnr-button">
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i> 
						</button> <span class="text-white ml-2">Watch Video </span>
					</div>
				</div>
				<div class="col-md-6 mt-lg-0 mt-5">
					<div class="progress-one">
						<h4 class="progress-tittle">Web Design</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one my-4">
						<h4 class="progress-tittle">PHP Development</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one">
						<h4 class="progress-tittle">Branding</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one my-4">
						<h4 class="progress-tittle">Marketing</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="progress-one">
						<h4 class="progress-tittle">Web Features</h4>
						<div class="progress">
							<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
                </div>				
			</div>
		</div>
	</div>
</section>
<!-- //Skills -->

<!-- team -->
<section id="myteam" class="team py-5">
	<div class="container py-md-5">
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>Our </span> Team </h3>
			<p class="para mb-5 text-center">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id.</p>
		</div>
		<div class="row team-row">
			<div class="col-md-4 col-sm-6 team-wrap">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="/static/images/team1.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Mustakim</h6>
					<span>web devloper</span>
				</div>
			</div>
			<!-- end team member -->

			<div class="col-md-4 col-sm-6 team-wrap mt-sm-0 mt-5">
				<div class="team-member text-center">
					<div class="team-img">
						<img src="/static/images/team3.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Aunto Apu</h6>
					<span>android devloper</span>
				</div>
			</div>
			<!-- end team member -->

			<div class="col-md-4 col-sm-6 team-wrap mt-md-0 mt-5">
				<div class="team-member last text-center">
					<div class="team-img">
						<img src="/static/images/team2.jpg" alt="">
						<div class="overlay-team">
							<div class="team-details text-center">
								<div class="socials mt-20">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<h6 class="team-title">Jagir Alam</h6>
					<span>Software engineer </span>
				</div>
			</div>
			<!-- end team member -->
		</div>
	</div>
</section>
<!-- //team -->

<!-- brands -->

<!-- //brands -->

<!-- footer -->
<footer class="footer py-5">
	<div class="container py-sm-4">
		<div class="row">
			<div class="col-lg-4 col-md-6 footer-top">
				<h3 class="mb-4 pb-3 w3f_title">Follow Us</h3>
				<p>请持续关注我们，如果对我们的项目有建议，欢迎大家发送邮件。</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required>
					<button class="btn1"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
					<div class="clearfix"> </div>
				</form>

			</div>
			<div class="col-lg-2  col-md-6 footv3-left mt-md-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">Navigation</h3>
				<ul class="list-agileits">
					<li>
						<a href="index.html">
							主页
						</a>
					</li>
					<li class="my-2">
						<a href="about.html">
							数据采集
						</a>
					</li>
					<li class="my-2">
						<a href="projects.html">
							文本分析
						</a>
					</li>
					<li class="mb-2">
						<a href="features.html">
							传播力分析
						</a>
					</li>
					<li>
						<a href="contact.html">
							自定义表单
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
				<h3 class="mb-4 pb-3 w3f_title">Contact Us</h3>
				<div class="fv3-contact">
					<span class="fas fa-envelope-open mr-2"></span>
					<p>
						<a href="mailto:example@email.com">info@example.com</a>
					</p>
				</div>
				<div class="fv3-contact my-3">
					<span class="fas fa-phone-volume mr-2"></span>
					<p>+1(23) 4567 7890</p>
				</div>
				<div class="fv3-contact">
					<span class="fas fa-home mr-2"></span>
					<p>321 Block,4th Building,
						<br>2nd Street State 3489.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 footerv2-w3ls mt-lg-0 mt-5">
				<h3 class="mb-4 w3f_title pb-3">Get In Touch</h3>
				<p>Excepteur sint occaecat non proident, sunt in culpa qui.</p>
				<ul class="social-iconsv2 agileinfo mt-4">
					<li>
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- copyright -->

<!-- //copyright -->

	<!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required>
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required>
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <!--//model-form-->

	<!-- video Modal Popup -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<iframe src=""></iframe>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //video Model Popup -->

	<!-- Vertically centered Modal -->
	<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"><i class="fab fa-cloudversify"></i> Flex Art</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<img src="/static/images/bg.jpg" class="img-fluid mb-3" alt="Modal Image" />
				Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum,
				ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	  </div>
	</div>
	<!-- //Vertically centered Modal -->

	<!-- js -->
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	
	<!-- search overlay -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- //search overlay -->
	
	<!--search jQuery-->
    <script src="/static/js/classie-search.js"></script>
    <script src="/static/js/demo1-search.js"></script>
    <!--//search jQuery-->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function() {
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

	<!-- banner slider js -->
	<script src="/static/js/minimal-slider.js"></script>
	<!-- //banner slider js -->

	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="/static/js/waypoints.min.js"></script>
	<script src="/static/js/counterup.min.js"></script>
	<script>
		jQuery(document).ready(function( $ ) {
			$('.counter').counterUp({
				delay: 100,
				time: 1000
			});
		});
	</script>
	<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- start-smoth-scrolling -->
	<script src="/static/js/SmoothScroll.min.js"></script>
	<script src="/static/js/move-top.js"></script>
	<script src="/static/js/easing.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

</body>
</html>